---
import "/styles/index.css"
import ProjectsCard from "../components/ProjectsCard.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import TechCards from "../components/TechCards.astro";
import Navigation from "../components/Navigation.astro";
import Blogs from "../components/Blogs.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/er.webp">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/er.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erik</title>
    
    <script defer>
        window.addEventListener("load", () => {
            const script = document.createElement("script")
            script.src = "/js/lazy.js"
            script.defer = true 
            document.body.append(script)
        })
    </script>
    <meta
        name="robots"
        content="follow, index"
    />
    <meta name="title" content="ErixWeb | Desarollador web Front-End 📱 y Back-End 📟 catalán">
    <meta name="description" content="Hola, me llamo ErixWeb 👋 soy un desarollador web Front-End 📱 y Back-End 📟 catalán en Barcelona. Échale un vistazo a mi portfolio💻, artículos o blogs 🗣️ Front-End 📱 de React, JavaScript, HTML o CSS.">
    <meta name="theme-color" content="#45CDFF">
    <meta name="keywords" content="erixweb, desarollador web en barcelona, desarollador web en españa, desarollador web front-end, desarollador web back-end, frontend, backend, erixweb.github.io, erikweb, articulos web, portfolio, typescript, javascript, bun, php, node, nodejs, html, css, desarollador con mas de 2 años de experiencia, english, español, catalán, react, badalona, barcelona, wordpress, desarollo web, web dev">
    <!-- OpenGraph -->
    <meta name="og:site_name" content="erixweb.github.io">
    <meta name="og:image" content="/images/er.webp">
    <meta name="og:title" content="ErixWeb | Desarollador web Front-End 📱 y Back-End 📟 catalán">
    <meta name="og:description" content="Hola, me llamo ErixWeb 👋 soy un desarollador web Front-End 📱 y Back-End 📟 catalán en Barcelona. Échale un vistazo a mi portfolio 💻, artículos o blogs 🗣️ Front-End 📱 de React, JavaScript, HTML o CSS.">
    <meta name="og:locale" content="es_ES">
    <meta name="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@erixweb">
    <meta name="twitter:image" content="/images/er.webp">
    <meta name="twitter:domain" content="erixweb.github.io">
    <meta name="twitter:site" content="@erixweb">
</head>
<body>
    <Navigation />
    <main style="margin-top: 80px;">
        <h1>
            Recurso no encontrado
        </h1>
        <p>
            El recurso al que ha intentado acceder no existe, vuelva a la página principal <a href="/" rel="nofollow">click aquí</a>
        </p>
	</main>
</body>
</html>