---
import Article from "~/components/Article.astro"
import Articles from "~/components/Articles.astro"
import Header from "~/components/Header.astro"
import PageLayout from "~/layouts/PageLayout.astro"

import CataloniaFlag from "~/components/icons/catalunya-icon.astro"
import EnglishFlag from "~/components/icons/english-icon.astro"
import LanguageIcon from "~/components/icons/language-icon.astro"
import ProjectsIcon from "~/components/icons/projects-icon.astro"
import SpainFlag from "~/components/icons/spain-flag.astro"
import TechnologyIcon from "~/components/icons/technology-icon.astro"
import Project from "~/components/Project.astro"
import Projects from "~/components/Projects.astro"
import Skill from "~/components/Skill.astro"
import Skills from "~/components/Skills.astro"
import Experience from "~/components/Experience.astro"
import FactoryIcon from "~/components/icons/factory-icon.astro"
---

<PageLayout>
	<Header />
	<main class="p-[16px] w-full max-w-[50em]">
		<section class="pb-[40px]" id="llengues">
			<div class="inline-flex gap-[10px]">
				<LanguageIcon width="54px" height="54px" />
				<h2 class="text-[30px] font-bold text-start w-full">Llengues</h2>
			</div>
			<div class="grid grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-[20px]">
				<Skill name="Castellano">
					<SpainFlag />
				</Skill>
				<Skill name="Català">
					<CataloniaFlag width={1260} />
				</Skill>
				<Skill name="English">
					<EnglishFlag />
				</Skill>
			</div>
		</section>
		<section id="experiencia" class="relative">
			<div class="inline-flex gap-[10px]">
				<FactoryIcon size="54px"/>	
				<h2 class="text-[30px] font-bold text-start w-full">Experiència</h2>
			</div>


			<Experience />
		</section>
		<section id="tecnologies">
			<Projects>
				<div class="inline-flex gap-[10px]" slot="title">
					<ProjectsIcon width="54px" height="54px" />
					<h1 class="text-[30px] font-bold text-start w-full">Projectes</h1>
				</div>
				<Project
					image="/images/tourxcat.webp"
					name="Tour x Catalunya"
					web="https://tourxcat.vercel.app"
					github="https://github.com/erixweb/tourxcat"
				>
					Pàgina per informar-te de llocs que has de visitar si vens a fer turisme a
					Catalunya.
				</Project>
				<Project
					image="/images/recordem.webp"
					name="Recordem-ho"
					web="https://recordem.vercel.app"
					github="https://github.com/erixweb/recordem-ho"
				>
					Articles que tracten de la Catalunya medieval.
				</Project>
				<Project
					image="/images/svelte-bazar.webp"
					name="Svelte Bazar"
					web="https://svelte-bazar.vercel.app"
					github="https://github.com/erixweb/svelte-bazar"
				>
					Un bazar fet amb SvelteKit.
				</Project>
				<Project
					image="/images/lista-libros.webp"
					name="Lista de Libros"
					web="https://libros-lista.vercel.app"
					github="https://github.com/erixweb/book-list"
				>
					Aplicació web feta amb Astro i Svelte d'una llista de llibres.
				</Project>
			</Projects>
			<div class="inline-flex gap-[10px]">
				<TechnologyIcon width="54px" height="54px" />
				<h1 class="text-[30px] font-bold text-start w-full">Tecnologies</h1>
			</div>
			<Skills />
		</section>
		<Articles>
			<Article
				title="Svelte es increíble"
				date="26/08/23"
				href="/articulos/svelte-es-increible"
				type="typescript"
			/>
			<Article
				title="TS para desarolladores JS"
				date="13/08/23"
				href="/articulos/ts-para-js-devs"
				type="typescript"
			/>
			<Article
				title="SSR en Web Components"
				date="14/07/23"
				href="/articulos/ssr-web-components"
				type="javascript"
			/>
		</Articles>
	</main>
</PageLayout>
