<section id="sobremi">
    <h2>
        Sobre mí
    </h2>
    <p>
        Me llamo Erik y soy un desarrollador web fullstack es decir, Front-End y Back-End. Siempre me ha dado curiosidad cómo están hechas las páginas web y por eso empecé con la programación. Empecé con PHP y después JavaScript.
    </p>
    <p>
        Empezar con PHP hizo que pueda entender otros lenguajes y me dio la habilidad de adaptarme fácilmente.
    </p>
</section>