---
interface Props {
    language: string
}

const { language } = Astro.props
---
{
    language === "es" ? (
    <section id="sobremi">
        <h2>
            Sobre mí
        </h2>
        <p>
            Soy un desarrollador web FullStack es decir, Front-End y Back-End. Siempre me ha dado curiosidad cómo están hechas las páginas web y por eso empecé con la programación. Empecé con PHP y después JavaScript.
        </p>
        <p>
            Empezar con PHP hizo que pueda entender otros lenguajes y me dio la habilidad de adaptarme fácilmente.
        </p>
    </section>
    ) : ( 
        <section id="sobremi">
            <h2>
                Sobre mi
            </h2>
            <p>
                Soc un desenvolupador web FullStack es a dir, Front-End i Back-End. Sempre m'ha donat curiositat com estan fetes les pàgines web i per això vaig començar amb la programació. Vaig començar amb PHP i desprès JavaScript.
            </p>
            <p>
                Començar amb PHP em fa fer entendre altres llenguatges i em va donar l'habilitat d'adaptarme fàcilment.
            </p>
        </section>
    )
}