---
import blogs from "../../store/blogs";
---
<section id="articulos">
    {blogs.map(blog => (
        <a class="article" href={blog["url"]}>
            <picture>
                <img data-src={blog["image"]} alt={`Imagne del artículo ${blog["title"]}`}>    
            </picture>
            <div class="blog-content">
                <h3>
                    {blog["title"]}
                </h3>
                <p>
                    {blog["date"]}    
                </p>
            </div>    
        </a>
    ))}
</section>