---
interface Props {
    language: string
}

const { language } = Astro.props
---
<style is:inline>
    #contactme {
        background-color: rgb(218, 218, 218);
        max-width: 100%;
        margin-top: 40px;
        min-height: 300px;
    }
    #contactme a {
        color: #000;
        font-weight: 800;
        font-size: calc(18px + 0.6vw);
        text-decoration: none;
        padding: 8px;
        border-radius: 7px;
    }
</style>
<section id="contactme">
    <h1>
        { language === "es" ? "Contáctame" : "Contacta'm"}
    </h1>
    <a href="mailto:erikmorenodev@gmail.com">
        erikmorenodev@gmail.com
    </a>
</section>
