<article class="flex w-full relative">
    <div class="absolute top-0 left-0 border-[1px] border-slate-500 h-full w-[1px]"></div>
    
	<div class="h-full ml-[25px] w-full">
		<h3 class="font-bold text-[24px] text-yellow-300">Desenvolupador web</h3>
		<h4 class="font-bold text-[20px]">DJ Ikerovski</h4>
		<p class="mt-0 text-slate-300">Abril 2024</p>
	</div>
    <p class="mt-0 text-gray-300 w-full">Responsable de desenvolupar la pàgina web d'un DJ. La pàgina va quedar en els primers llocs de Google i amb un rendiment excel·lent.</p>
</article>
