<header class="flex flex-col justify-center items-center p-[16px] w-full h-[100vh] max-h-[600px]">
	<div class="w-full max-w-[50em]">
		<h1 class="text-[60px] font-bold" style="text-shadow: 0px 0px 15px blue;">Erik 👋</h1>
		<strong class="text-[27px]"> Desarollador web Full-Stack</strong>
		<p class="mt-[20px] text-zinc-400 max-w-[450px]">
			Desarollador web FullStack en Barcelona (Badalona) que lleva 2 años programando.
		</p>
		<div class="mt-[40px]">
			<a
				href="mailto:erikmorenodev@gmail.com"
				target="_blank"
				class="border-zinc-500 py-[16px] p-[20px] border-[2px] bg-zinc-900 rounded-full hover:bg-zinc-800 hover:border-zinc-400 transition-[250ms]"
			>
				Contáctame
			</a>
		</div>
	</div>
</header>
