---
import GithubIcon from "./icons/github-icon.astro"
import MailIcon from "./icons/mail-icon.astro"
---

<div
	class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-[#0c111c]
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
>
</div>
<header class="flex flex-col justify-center items-center px-[25px] w-full mt-[200px] max-w-[50em]">
	<div class="w-full">
		<h1 class="text-[60px] font-[Onest] font-bold animate-fade-in-right animate-duration-500">
			Bon dia, sóc Erik 👋
		</h1>
		<p class="text-[27px] animate-fade-in-right animate-duration-600 font-bold">
			Desenvolupador web Full-Stack
		</p>
		<p
			class="mt-[20px] text-zinc-400 max-w-[600px] text-[20px] animate-fade-in-right animate-duration-700"
		>
			Desenvolupador web FullStack en Barcelona (Badalona) que porta 3 anys programant.
		</p>
	</div>
	<div
		class="mt-[40px] ml-0 flex max-w-[500px]:m-auto max-w-[700px]:w-full gap-[15px] w-fit animate-fade-in-right animate-duration-800 md:flex-col"
	>
		<a
			href="mailto:erikmorenodev@gmail.com"
			target="_blank"
			class="border-zinc-500 py-[16px] px-[20px] border-[2px] bg-zinc-900 rounded-full hover:bg-zinc-800 hover:border-zinc-400 transition-[250ms] flex items-center gap-[10px] md:w-full"
		>
			<MailIcon width="40px" height="40px" />
			<span class="w-full">erikdev.bcn@gmail.com</span>
		</a>
		<a
			href="https://github.com/erixweb/"
			target="_blank"
			class="border-zinc-500 py-[16px] p-[20px] border-[2px] bg-zinc-900 rounded-full hover:bg-zinc-800 hover:border-zinc-400 transition-[250ms] flex items-center gap-[10px] md:w-full"
		>
			<GithubIcon width="40px" height="40px" />
			<span class="w-full">Github</span>
		</a>
	</div>
</header>
