---
import GithubIcon from "./Icons/GithubIcon.astro";
import MailIcon from "./Icons/MailIcon.astro";
---

<header class="flex flex-col justify-center items-center p-[16px] w-full mt-[200px] max-w-[50em]">
	<div class="w-full">
		<h1 class="text-[60px] font-[Onest] font-bold" >Sóc Erik 👋</h1>
		<strong class="text-[27px]"> Desenvolupador web Full-Stack</strong>
		<p class="mt-[20px] text-zinc-400 max-w-[500px] text-[20px]">
			Desenvolupador web FullStack en Barcelona (Badalona) que porta 3 anys programant.
		</p>
	</div>
	<div class="mt-[40px] ml-0 flex gap-[15px]">
		<a
			href="mailto:erikmorenodev@gmail.com"
			target="_blank"
			class="border-zinc-500 py-[16px] px-[20px] border-[2px] bg-zinc-900 rounded-full hover:bg-zinc-800 hover:border-zinc-400 transition-[250ms] flex items-center gap-[10px] text-slate-400"
		>
			<MailIcon 
				width="34px"
				height="34px"
			/>
			Contacta'm
		</a>
		<a
			href="https://github.com/erixweb/"
			target="_blank"
			class="border-zinc-500 py-[16px] p-[20px] border-[2px] bg-zinc-900 rounded-full hover:bg-zinc-800 hover:border-zinc-400 transition-[250ms] flex items-center gap-[10px] text-slate-400"
		>
			<GithubIcon 
				width="34px"
				height="34px"
			/>
			Github
		</a>
	</div>
</header>
