---
---
<header class="home-header">
    <div class="header-wrapper">
        <h1>
            Erik 👋
        </h1>
        <strong>
            Desarollador web Full-Stack
        </strong>
        <p>
            Desarollador web FullStack en Barcelona (Badalona) que lleva 2 años programando. 
        </p>
        <div class="buttons">
            <a href="mailto:erikmorenodev@gmail.com" target="_blank">
                Contáctame
            </a>
        </div>
    </div>
</header>