---
import GithubIcon from "./Icons/GithubIcon.astro"
import Instagram from "./Icons/InstagramIcon.astro"
---

<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="/">
                erik
            </a>
        </div>
        <div class="links">
            <a href="https://github.com/erixweb" target="_blank">
                <GithubIcon />
            </a>
            <a href="https://instagram.com/eriknpc_/" target="_blank">
                <Instagram />
            </a>
        </div>
    </div>
</nav>
