<nav>
    <div class="wrap">
        <img data-src="/images/er.webp" alt="Logo de erixweb" loading="lazy" decoding="async">
        <div class="links"> 
            <a href="/">
                Sobre mí
            </a>
            <a href="/#proyectos">
                Proyectos
            </a>
            <a href="/#articulos">
                Artículos
            </a>
        </div>
    </div>
</nav>