<nav class="fixed top-[10px] left-0 w-full z-[99] px-[10px]">
	<div class="flex bg-zinc-950/70 max-w-[500px] p-[12px] rounded-full shadow-slate-400 shadow-sm">
		<a
			href="/#llengues"
			class="text-gray-200 hover:text-amber-200 transition-colors duration-[200ms]"
			>Llengues</a
		>
		<a
			href="/#projectes"
			class="text-gray-200 hover:text-amber-200 transition-colors duration-[200ms]"
			>Projectes</a
		>
		<a
			href="/#tecnologies"
			class="text-gray-200 hover:text-amber-200 transition-colors duration-[200ms]"
			>Tecnologies</a
		>
		<a
			href="/#articles"
			class="text-gray-200 hover:text-amber-200 transition-colors duration-[200ms]"
			>Articles</a
		>
	</div>
</nav>
