---
import HTMLIcon from "./Icons/HTMLIcon.astro";
import JavaScriptIcon from "./Icons/JavaScriptIcon.astro";
import CSSIcon from "./Icons/CSSIcon.astro"
import TSIcon from "./Icons/TSIcon.astro"
import NextIcon from "./Icons/NextIcon.astro"
import ReactIcon from "./Icons/ReactIcon.astro"
import AstroIcon from "./Icons/AstroIcon.astro"
---

<section class="skills" id="habilidades">
    <div class="item-skill">
        <HTMLIcon />
        <h3>
            HTML
        </h3>
    </div>
    <div class="item-skill">
        <JavaScriptIcon />
        <h3>
            JavaScript
        </h3>
    </div>
    <div class="item-skill">
        <CSSIcon />
        <h3>
            CSS
        </h3>
    </div>
    <div class="item-skill">
        <TSIcon />
        <h3>
            TypeScript
        </h3>
    </div>
    <div class="item-skill">
        <NextIcon />
        <h3>
            Next
        </h3>
    </div>
    <div class="item-skill">
        <ReactIcon />
        <h3>
            React
        </h3>
    </div>
    <div class="item-skill">
        <AstroIcon />
        <h3>
            AstroJS
        </h3>
    </div>
</section>