---
import HTMLIcon from './Icons/HTMLIcon.astro'
import JavaScriptIcon from './Icons/JavaScriptIcon.astro'
import CSSIcon from './Icons/CSSIcon.astro'
import TSIcon from './Icons/TSIcon.astro'
import NextIcon from './Icons/NextIcon.astro'
import ReactIcon from './Icons/ReactIcon.astro'
import AstroIcon from './Icons/AstroIcon.astro'
import Svelte from './Icons/Svelte.astro'
---

<section class="skills" id="habilidades">
	<div class="item-skill">
		<div>
			<HTMLIcon />
		</div>
		<h3>HTML</h3>
	</div>
	<div class="item-skill">
		<div>
			<JavaScriptIcon />
		</div>
		<h3>JavaScript</h3>
	</div>
	<div class="item-skill">
		<div>
			<CSSIcon />
		</div>
		<h3>CSS</h3>
	</div>
	<div class="item-skill">
		<div>
			<TSIcon />
		</div>
		<h3>TypeScript</h3>
	</div>
	<div class="item-skill">
		<div>
			<NextIcon />
		</div>
		<h3>Next</h3>
	</div>
	<div class="item-skill">
		<div>
			<ReactIcon />
		</div>
		<h3>React</h3>
	</div>
	<div class="item-skill">
		<div>
			<Svelte />
		</div>
		<h3>Svelte</h3>
	</div>
	<div class="item-skill">
		<div>
			<AstroIcon />
		</div>
		<h3>AstroJS</h3>
	</div>
</section>
