---
import HTMLIcon from "./Icons/HTMLIcon.astro"
import JavaScriptIcon from "./Icons/JavaScriptIcon.astro"
import CSSIcon from "./Icons/CSSIcon.astro"
import TSIcon from "./Icons/TSIcon.astro"
import NextIcon from "./Icons/NextIcon.astro"
import ReactIcon from "./Icons/ReactIcon.astro"
import AstroIcon from "./Icons/AstroIcon.astro"
import Svelte from "./Icons/Svelte.astro"
import Skill from "./Skill.astro"
---

<div class="grid grid-cols-3 gap-[20px] lg:grid-cols-2 sm:grid-cols-1 pb-[40px]">
	<Skill name="HTML">
		<HTMLIcon />
	</Skill>
	<Skill name="CSS">
		<CSSIcon />
	</Skill>
	<Skill name="JavaScript">
		<JavaScriptIcon />
	</Skill>
	<Skill name="TypeScript">
		<TSIcon />
	</Skill>
	<Skill name="React">
		<ReactIcon />
	</Skill>
	<Skill name="Svelte">
		<Svelte />
	</Skill>
	<Skill name="Next">
		<NextIcon />
	</Skill>
	<Skill name="Astro">
		<AstroIcon />
	</Skill>
</div>
