---
interface Props {
    language: string
}

const { language } = Astro.props
---

<section id="tecnologias">
    {language === "es" ? <h2>Tecnologías</h2> : <h2>Tecnologies</h2>}
    <div class="tech-cards">
        <div class="tech-card">
            <img data-src="/images/tech/html.svg" alt="Etiqueta HTML tecnología">
            HTML
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/css.svg" alt="Etiqueta CSS tecnología">
            CSS
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/js.svg" alt="Etiqueta JavaScript tecnología">
            JavaScript
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/php.svg" alt="Etiqueta PHP tecnología">
            PHP
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/react.svg" alt="Etiqueta React tecnología">
            React
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/sql.svg" alt="Etiqueta SQL tecnología">
            SQL
        </div>
        <div class="tech-card">
            <img data-src="/images/tech/astro.svg" alt="Etiqueta Astro tecnología">
            Astro
        </div>
    </div>
</section>