---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '~/components/Navigation.astro'
import '~/styles/index.css'

const { frontmatter } = Astro.props
const { img, title, desc } = frontmatter
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Erik</title>
		<link rel="icon" href="/images/erik.webp" />

		<link
			rel="preload"
			href="/fonts/poppinsnormal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/poppins-bold2.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<script>
			const Lazy = (target) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src"))
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:page-load", () => {
				document.querySelectorAll("img").forEach(Lazy)
			})
		</script>
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<header class="flex flex-row gap-[20px] mt-[120px] max-w-[50em] p-[16px]">
			<img data-src={img} alt={`Artículo de ${title}`} class="w-[120px] h-[120px] rounded-[10px] mt-0" />
			<div class="w-full">
				<h2 class="text-[25px] font-bold">
					{title}
				</h2>
				<p class="text-gray-400">
					{desc}
				</p>
			</div>
		</header>
		<main style="margin-top: 60px;" class="p-[16px] w-full max-w-[50em]">
			<slot />
		</main>
	</body>
</html>
