---
import { ViewTransitions } from "astro:transitions"
import Meteors from "~/components/meteors.astro"
import Navigation from "~/components/Navigation.astro"
import Stars from "~/components/stars.astro"
import "~/styles/index.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/images/erik.webp" />
		<title>Erik</title>
		<link rel="preload" as="font" href="/fonts/Onest-Medium.woff2" crossorigin="" />
		<link rel="preload" as="font" href="/fonts/Onest-Bold.woff2" crossorigin="" />
		<Meteors />
		<Stars />
		<script>
			const Lazy = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src")!)
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			export const Animate = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							const img = entry.target
							img.setAttribute("data-show", "true")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}	
			document.addEventListener("astro:page-load", () => {
				document.querySelectorAll(".card").forEach(Animate)
				document.querySelectorAll("img").forEach(Lazy)
			})
		</script>
		<ViewTransitions />
	</head>
	<body class="bg-[#0c111c] w-full min-h-[100vh] h-full">
		<Navigation />
		<slot />
	</body>
</html>
