---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '~/components/Navigation.astro'
import '~/styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Erik</title>
		<link rel="icon" href="/images/erik.webp" />
		<link rel="preload" href="/fonts/poppinsnormal.woff2" as="font" crossorigin="" />
		<link rel="preload" href="/fonts/poppins-bold2.woff2" as="font" crossorigin="" />
		<script>
			const Lazy = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src")!)
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:page-load", () => {
				document.querySelectorAll("img").forEach(Lazy)
			})
		</script>
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<slot />
	</body>
</html>
