@import "fonts.css";

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-word;
}

body {
    position: relative;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

    background-color: #e5e7eb;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}
/*
    Lazy
*/
img {
    opacity: 0;
}
.fade {
    opacity: 100;
}
/*
    Navigation
*/
nav {
    font-weight: 600;
    z-index: 9999999;
    background-color: #e5e7eb;
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px;
    border-bottom: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

nav a {
    color: #000;
}

nav img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 99999px;
    aspect-ratio: 16/9;
}
nav button {
    z-index: 999999;
    position: fixed;
    top: 24px;
    right: 10px;
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
}
nav svg {
    width: 24px;
    height: 24px;
}
nav div.wrap {
    width: 100%;
    max-width: 45rem;
}

nav .links {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

nav a {
    text-decoration: none;
    margin-left: 3vmin;
}
/*
    Header
*/
header {
    padding: 10px;
    width: 100%;
    max-width: 45rem;
}
header#sobremi {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

header#blog-header {
    line-height: 1.6;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
header#blog-header div {
    margin-left: 15px;
}
header#blog-header h1 {
    margin-top: 0px;
    text-align: start;
}
header img {
    width: 120px;
    height: 120px;
    border-radius: 25px;
    aspect-ratio: 16/9;
}

header h1 {
    margin-bottom: 20px;
}

header p {
    width: 100%;
}
/*
    Main content
*/
main {
    padding-bottom: 180px;

    margin-top: 40px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main h2, h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
main p {
    margin-left: 0px;
    margin-top: 20px;
}
/*
    Sections
*/
section {
    padding: 10px;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

section#social {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 10px;

}
section#social a {
    color: #fff;
    text-decoration: none;
    width: 38px;
    height: 38px;
    height: 100%;
}


section#social img {
    margin: 10px;
    width: 36px;
    height: 36px;
}
section#tecnologias {
    margin-bottom: 40px;
}
/*
    Tech cards
*/
.tech-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.tech-card {
    transition: 250ms;
    width: auto;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    width: 200px;

    border: 2px solid rgb(54, 54, 54);
    border-radius: 9999px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tech-card:hover {
    cursor: default;
    transform: scale(1.1);
    border: 2px solid rgb(100, 102, 255);
}

.tech-card img {
    aspect-ratio: 16/9;
    width: 28px;
    height: 28px;
    margin-right: 1vmin;
    margin-left: 0px;
}
/*
    Articles
*/
@media (max-width: 450px) {
    nav .links {
        display: none;
    }
    nav .links {
        flex-direction: column;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #f3f3f3c2;
    }
    nav .links a {
        text-align: center;
        width: 100%;
    }
    nav button {
        display: block;
    }
}
@media (max-width: 670px) {
    header#blog-header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header#blog-header h1 {
        text-align: center;
    }
}